.business-pool[data-v-ebe1e5d3] {
    padding: 20px;
    background-color: #fff;
    min-height: 100%;
    border-radius: 8px
}

.search-form[data-v-ebe1e5d3] {
    background-color: var(--el-bg-color);
    border-radius: 4px
}

.search-form[data-v-ebe1e5d3] .el-form-item {
    margin-bottom: 0
}

.search-form[data-v-ebe1e5d3] .el-input,
.search-form[data-v-ebe1e5d3] .el-select {
    width: 200px
}

.search-buttons[data-v-ebe1e5d3] {
    margin-right: 0 !important
}

.divider[data-v-ebe1e5d3] {
    height: 1px;
    background-color: var(--el-border-color-light);
    margin: 10px 0
}

.pagination[data-v-ebe1e5d3] {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end
}

.track-records[data-v-ebe1e5d3] {
    margin-top: 20px
}

.track-records .title[data-v-ebe1e5d3] {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px
}

[data-v-ebe1e5d3] .el-button .el-icon {
    margin-right: 4px
}